<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Foundry</vendor>
  <vendor_url>https://github.com/dim-ghub/Foundry</vendor_url>
  <icon_name>astra-foundry</icon_name>
  <action id="com.astra-foundry.pacman.update">
    <description>Run pacman package operations</description>
    <message>Authentication is required to install, update or remove system packages</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/pacman</annotate>
  </action>
</policyconfig>
