[Desktop Entry]
Name=Astra Market
GenericName=Package Manager
Comment=Unified graphical and command-line package manager
Exec=astra %F
Icon=AstraMarket
Terminal=false
Type=Application
Categories=System;PackageManager;Utility;
Keywords=package;install;flatpak;pacman;aur;appimage;store;market;
StartupWMClass=astra
MimeType=application/vnd.appimage;application/x-iso9660-appimage;application/x-appimage;

